.about {
  height: 100vh;
}

.title {
  text-align: center;
  padding: 4rem 0 2rem;
  font-family: "Fira Code", monospace;
  font-size: 2rem;
  color: var(--pop);
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 0 0 8rem;
}

.image {
  border-radius: 50%;
  box-shadow: 0 0 25px black;
  background: url(../public/trees.jpg) bottom;
}
