.contact {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.contact a {
  color: var(--bg-primary);
}

.title {
  padding: 4rem 1rem;
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  text-align: center;
  color: var(--pop);
  text-shadow: 0 0 25px black;
}

.emailButton {
  width: 150px;
  height: 50px;
  margin: 4rem auto;
  background: var(--pop);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 25px black;
  cursor: pointer;
  font-size: 1rem;
}

.emailButton:hover {
  box-shadow: 0 0 0;
}

.socialIcons {
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}

.icon {
  height: 48px;
  width: 48px;
  transition: 200ms;
}

.icon:hover {
  transform: translateY(-7px);
}
