.contact {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.contact a {
  color: var(--bg-secondary);
}

.title {
  margin: 1rem 1rem 4rem 1rem;
  font-size: 2rem;
  font-family: "Fira Code", monospace;
}

.emailButton {
  width: 150px;
  height: 50px;
  margin: 2rem auto 4rem;
  background: orange;
  border: none;
  border-radius: 10px;
  color: var(--bg-secondary);
  cursor: pointer;
}
