.footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

.backToTop {
  background-color: orange;
  top: -1rem;
  right: 1.5rem;
  position: absolute;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: pulse 2s infinite;
  color: var(--bg-primary);
  font-size: 2rem;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(240, 189, 96, 0.99);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(240, 189, 96, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(240, 189, 96, 0);
  }
}
