@font-face {
  font-family: Autography;
  src: url(/Autography.otf);
}

:root {
  --primary: #181818;
  --secondary: #c78158;
  --text: #abb2bf;
  --outline: #db4c40;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--primary);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
