@font-face {
  font-family: Autography;
  src: url(/Autography.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #181818;
  color: #abb2bf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
