:root {
  --bg-primary: rgb(37, 38, 39);
  --bg-secondary: #1e1b32;
  --pop: rgb(199, 129, 0);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
}

section {
  background-color: var(--bg-primary);
  width: 100vw;
  color: white;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
