.header {
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.home {
  font-family: Autography, cursive;
  font-size: 2rem;
  padding: 0;
  transition: 650ms;
  color: var(--secondary);
  font-style: italic;
  cursor: pointer;
}

.home:hover {
  text-shadow: 0 0 17px var(--outline);
}

.link,
.selected {
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: 650ms;
  color: var(--text);
}

.link:hover {
  color: var(--secondary);
}

.selected {
  color: var(--outline);
}

.hide {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
