.projects {
  margin: 0 auto;
  max-width: 100%;
}

.title {
  text-align: center;
  padding: 4rem 1rem;
  padding-top: 4rem;
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  color: var(--pop);
}

.mobileName {
  display: none;
}

.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  max-width: 100%;
}

.image {
  position: block;
  width: 30%;
  margin: auto;
}

.information {
  width: 50%;
}

.name {
  font-size: 1.5rem;
}

.description {
  margin: 1rem 0;
}

.links {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.link {
  padding: 1rem 0;
  font-weight: lighter;
}

.link:hover {
  color: var(--pop);
  transition-duration: 650ms;
}

.stack {
  margin: 2rem 0;
  font-size: 0.8rem;
}

.stackTitle {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.stack a {
  cursor: pointer;
}

.icon {
  height: 36px;
  width: 36px;
  margin-right: 1rem;
}

@media screen and (max-width: 1280px) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    display: none;
  }

  .mobileName {
    display: block;
    font-size: 1.2rem;
  }

  .image {
    margin: 1rem 0;
    width: 75%;
  }

  .information {
    width: auto;
    margin: 0 1rem;
  }

  .links {
    justify-content: center;
  }

  .description {
    text-align: center;
  }

  .stack {
    text-align: center;
  }

  .stackTitle {
    text-align: center;
  }
}
